<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title><%=@site_title%></title>
<meta name = "viewport" content = "maximum-scale=0.6667,width=480" > 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="<%=@site_metatags%>"> 
<%= stylesheet_link_tag 'iui' %>
<%= javascript_include_tag 'iui' %>
</head>
<body>

<div class="toolbar">
<h1 id="change me"></h1>
<a id="backButton" class="button" href="#"></a>
<ul title="Home" selected="true">
<li><%= link_to 'Example action', "test" %></li>
<li><%= link_to 'Signin', help_url , :method => :login, :target => '_self' %></li>
</ul>
</div>

<%= yield %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-846275-12");
pageTracker._trackPageview();
</script>

</body>
</html>

